@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Book Store.</h1>
    <p class="lead"> An online bookstore is an eStore or shop where you sell new or used books online.
    you will get different types of books like "comedy",Horrer, Thriller,Mystery etc</p>
    <p><a href="https://dreamdeveloper.org/how-to-start-an-online-bookstore/#:~:text=An%20online%20bookstore%20is%20an%20eStore%20or%20shop,authors%20write%2C%20publish%20and%20sell%20their%20books%20online." class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Differnt Books</h2>
        <p>
            you will get different types of books like "comedy",Horrer, Thriller,Mystery etc
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://www.obooko.com/category/free-horror-supernatural-books">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Study Materials</h2>
        <p>
            you will get different types of books and study Materials Online for UG/PC Courses.
        </p>
        <p><a class="btn btn-primary btn-lgt" href="https://www.ncertbooks.guru/b-tech-books/s">Learn more &raquo;</a></p>
    </div>


</div>