@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1>Welcome</h1>
    <h4>Online Book Store.</h4>
    <p class="lead"> An online bookstore is an eStore or shop where you sell new or used books online.
    you will get different types of books like "comedy",Horrer, Thriller,Mystery etc</p>
    <p><a href="https://dreamdeveloper.org/how-to-start-an-online-bookstore/#:~:text=An%20online%20bookstore%20is%20an%20eStore%20or%20shop,authors%20write%2C%20publish%20and%20sell%20their%20books%20online." class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row-cols-md-1">

    <style>
        .gfg {
            margin: 3%;
            position:center;
        }

        .first-txt {
            position: absolute;
            top: 380px;
            right: -500px;
        }

        .second-txt {
            position:absolute;
            bottom: 30px;
            left: 200px;
        }
    </style>

    <div class="gfg" ">
        <img src="https://tse1.mm.bing.net/th?id=OIP.5J7DoMZJuUU23UpD8weqhAHaE7&pid=Api&rs=1&c=1&qlt=95&w=152&h=101" width="500">
        <img src="https://tse2.mm.bing.net/th?id=OIP.75qUPfG2wgAnPhKG5EfQyQE_DD&pid=Api&P=0" width="550" />

        <h3 class="first-txt">
            <div class="col-md-4">
                <h2>Differnt Books</h2>
                <p>
                    you will get different types of books like "comedy",Horrer, Thriller,Mystery etc
                </p>
                <p><a class="btn btn-primary btn-lg" href="https://www.obooko.com/category/free-horror-supernatural-books">Learn more &raquo;</a></p>
            </div>
        </h3>

        <h3 class="second-txt">
            <div class="col-md-4">
                <h2>Study Materials</h2>
                <p>
                    you will get different types of books and study Materials Online for UG/PC Courses.
                </p>
                <p><a class="btn btn-primary btn-lgt" href="https://www.ncertbooks.guru/b-tech-books/s">Learn more &raquo;</a></p>
            </div>
        </h3>
    </div>

    @*<div>
        <img src="https://tse1.mm.bing.net/th?id=OIP.5J7DoMZJuUU23UpD8weqhAHaE7&pid=Api&rs=1&c=1&qlt=95&w=152&h=101">
        <h3 class="first-txt">
            <div class="col-md-4">
                <h2>Differnt Books</h2>
                <p>
                    you will get different types of books like "comedy",Horrer, Thriller,Mystery etc
                </p>
                <p><a class="btn btn-primary btn-lg" href="https://www.obooko.com/category/free-horror-supernatural-books">Learn more &raquo;</a></p>
            </div>
        </h3>

        <h3 class="second-txt">
            <div class="col-md-4">
                <h2>Study Materials</h2>
                <p>
                    you will get different types of books and study Materials Online for UG/PC Courses.
                </p>
                <p><a class="btn btn-primary btn-lgt" href="https://www.ncertbooks.guru/b-tech-books/s">Learn more &raquo;</a></p>
            </div>
        </h3>
    </div>*@



</div>
